@{
    ViewData["Title"] = "Home Page";
}



<div class="clearfix"></div>
<div class="wrap">
    <div class="wrapper">
        <div class="content">
            <div class="grids">
                <div class="bot-grid">
                    <img src="images/pic.jpg" alt="" />
                    <h3>Our Instructions</h3>
                    <p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
                    <a href="#"><p><span class="one">Read More</span></p></a>
                </div>
                <div class="bot-grid1">
                    <img src="images/pic1.jpg" alt="" />
                    <h3>Our Support</h3>
                    <p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
                    <a href="#"><p><span class="two">Read More</span></p></a>
                </div>
                <div class="bot-grid2">
                    <img src="images/pic2.jpg" alt="" />
                    <h3>Our Guarantee</h3>
                    <p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
                    <a href="#"><p><span class="three">Read More</span></p></a>
                </div>
                <div class="bot-grid3">
                    <img src="images/pic3.jpg" alt="" />
                    <h3>Our Reliability</h3>
                    <p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; </p>
                    <a href="#"><p><span class="four">Read More</span></p></a>
                </div>
                <div class="clear"></div>
            </div>
         
        </div>
    </div>
</div>
